{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un quizz par import JSON</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <h2>Modele</h2>
    <pre>
        <code>
            {
                "title": "Les bonnes pratiques en Symfony",
                "description" : "description du quizz"
                "questions": [
                    {
                        "question": "Quelle commande utilise-t-on pour créer un nouveau projet Symfony ?",
                        "choices": [
                            {"text": "symfony new my_project_name", "isCorrect": true},
                            {"text": "symfony create my_project_name", "isCorrect": false},
                            {"text": "symfony init my_project_name", "isCorrect": false},
                            {"text": "symfony start my_project_name", "isCorrect": false}
                        ]
                    },
                    {
                        ...
                    }
                ]
            }
        </code>
    </pre>
{% endblock %}
