{% extends 'base.html.twig' %}

{% block title %}Edit QuizzCategories{% endblock %}

{% block body %}
    <h1>Edit QuizzCategories</h1>

    {{ include('quizz/quizz_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quizz_quizz_categories_index') }}">back to list</a>

    {# {{ include('quizz/quizz_categories/_delete_form.html.twig') }} #}
{% endblock %}
