{% extends 'base.html.twig' %}

{% block title %}New QuizzCategories{% endblock %}

{% block body %}
    <h1>Nouvelle Categorie</h1>

    {{ include('quizz/quizz_categories/_form.html.twig') }}

    <a href="{{ path('app_quizz_quizz_categories_index') }}" class="btn btn-primary my-3">Retour</a>
{% endblock %}
