{% extends 'base.html.twig' %}

{% block title %}Edit QuizzUserAnswers{% endblock %}

{% block body %}
    <h1>Edit QuizzUserAnswers</h1>

    {{ include('quizz/quizz_user_answers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quizz_quizz_user_answers_index') }}">back to list</a>

    {{ include('quizz/quizz_user_answers/_delete_form.html.twig') }}
{% endblock %}
